# My portfolios

In [150]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [151]:
import pandas as pd
import matplotlib.pyplot as plt

In [152]:
from etfs.portfolio import portfolio
from etfs.portfolio.io import import_portfolio, import_vanguard_portfolio

## RobinHood

In [153]:
rh = import_portfolio(path="../data/portfolio_rh.csv", name="RobinHood")

adding CHK

AttributeError: 'Timestamp' object has no attribute 'to_string'

In [ ]:
rh.overview()

In [ ]:
rh.positions()

## Vanguard

In [ ]:
vg = import_vanguard_portfolio(path="../data/portfolio_vanguard.csv", name="Vanguard")

In [ ]:
vg.overview()

In [ ]:
vg.positions()

## Another Vanguard

In [ ]:
vg_2 = import_vanguard_portfolio(path="../data/portfolio_vanguard_2.csv", name="Vanguard")

In [ ]:
vg_2.overview()

In [ ]:
vg_2.positions()

In [133]:
rh.get_timeseries()

2018-02-01 00:00:00 20180711

In [134]:
date_index = pd.date_range(rh.min_date, rh.max_date, freq='D')

In [135]:
import numpy as np

In [136]:
ts = pd.Series(range(len(date_index)), index=date_index)

In [137]:
rh.wallet.dtypes

Date    datetime64[ns]
Cash           float64
dtype: object

In [146]:
rh.wallet.loc[rh.wallet.Date == '2018-02-01', 'Cash'] = 10

In [147]:
rh.wallet

         Date    Cash
0  2018-02-01   10.00
1  2018-02-01   10.00
2  2018-02-01   10.00
3  2018-02-01   10.00
4  2018-02-01   10.00
5  2018-02-01   10.00
6  2018-02-15    1.13
7  2018-02-16  551.13
8  2018-02-26   23.26
9  2018-03-08   24.10
10 2018-04-17    9.74
11 2018-05-16   13.44
12 2018-05-16    0.40
13 2018-05-17    1.13
14 2018-05-30    1.38
15 2018-06-14    2.22
16 2018-06-20  552.22
17 2018-06-20  300.22
18 2018-06-20  322.50
19 2018-06-20   58.86
20 2018-06-20    8.16
21 2018-06-20  236.08
22 2018-06-20    0.74
23 2018-06-20  220.74
24 2018-06-22  150.22
25 2018-06-22   78.70
26 2018-06-22    5.56
27 2018-07-06  185.56
28 2018-07-06    5.02

In [86]:
df = ts.to_frame('Day').join(rh.wallet.set_index('Date'), how='left').fillna(method='ffill')

In [87]:
for security in rh.securities:
    print(rh.securities[security].ticker)
    df = df.join(rh.securities[security].data['Close'], how='left', rsuffix='_{}'.format(rh.securities[security].ticker)).fillna(method='ffill')

JD
MSFT
AMD
BABA
W
AAPL
IQ

In [88]:
df

,Day,Cash,Close,Close_MSFT,Close_AMD,Close_BABA,Close_W,Close_AAPL,Close_IQ
2018-02-01,0,0.00,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-01,0,550.00,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-01,0,356.66,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-01,0,188.98,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-01,0,94.62,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-01,0,0.50,47.549999,94.260002,13.250000,192.220001,91.730003,167.779999,NaN
2018-02-02,1,0.50,46.029999,91.779999,12.450000,187.309998,90.779999,160.500000,NaN
2018-02-03,2,0.50,46.029999,91.779999,12.450000,187.309998,90.779999,160.500000,NaN
2018-02-04,3,0.50,46.029999,91.779999,12.450000,187.309998,90.779999,160.500000,NaN
2018-02-05,4,0.50,44.599998,88.000000,11.570000,180.529999,89.269997,156.490005,NaN
2018-02-06,5,0.50,45.049999,91.330002,11.650000,185.169998,91.989998,163.029999,NaN
2018-02-07,6,0.50,44.389999,89.610001,11.600000,180.300003,91.129997,159.539993,NaN
2018-02-08,7,0.50,42.250000,85.010002,11.220000,173.699997,88.980003,155.149994,NaN
2018-02-09,8,0.50,42.930000,88.180000,11.310000,176.669998,90.680000,156.410004,NaN
2018-02-10,9,0.50,42.930000,88.180000,11.310000,176.669998,90.680000,156.410004,NaN
2018-02-11,10,0.50,42.930000,88.180000,11.310000,176.669998,90.680000,156.410004,NaN
2018-02-12,11,0.50,43.720001,89.129997,11.680000,177.440002,92.019997,162.710007,NaN
2018-02-13,12,0.50,44.549999,89.830002,11.780000,179.250000,92.550003,164.339996,NaN
2018-02-14,13,0.50,46.860001,90.809998,12.200000,186.759995,97.070000,167.369995,NaN
2018-02-15,14,1.13,47.110001,92.660004,12.190000,187.449997,96.760002,172.990005,NaN
2018-02-16,15,551.13,46.419998,92.000000,11.820000,183.679993,97.519997,172.429993,NaN
2018-02-17,16,551.13,46.419998,92.000000,11.820000,183.679993,97.519997,172.429993,NaN
2018-02-18,17,551.13,46.419998,92.000000,11.820000,183.679993,97.519997,172.429993,NaN
2018-02-19,18,551.13,46.419998,92.000000,11.820000,183.679993,97.519997,172.429993,NaN
2018-02-20,19,551.13,46.930000,92.720001,12.020000,187.190002,96.300003,171.850006,NaN
2018-02-21,20,551.13,47.160000,91.489998,11.720000,188.820007,95.690002,171.070007,NaN
2018-02-22,21,551.13,47.810001,91.730003,11.840000,188.750000,73.949997,172.500000,NaN
2018-02-23,22,551.13,48.349998,94.059998,12.070000,193.289993,75.250000,175.500000,NaN
2018-02-24,23,551.13,48.349998,94.059998,12.070000,193.289993,75.250000,175.500000,NaN
2018-02-25,24,551.13,48.349998,94.059998,12.070000,193.289993,75.250000,175.500000,NaN
...,...,...,...,...,...,...,...,...,...
2018-06-20,139,300.22,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,322.50,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,58.86,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,8.16,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,236.08,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,0.74,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-20,139,220.74,41.680000,101.870003,16.520000,206.229996,116.160004,186.500000,44.200001
2018-06-21,140,220.74,40.820000,101.139999,15.650000,202.210007,114.279999,185.460007,38.830002
2018-06-22,141,150.22,40.820000,100.410004,15.800000,202.009995,114.839996,184.919998,36.290001
2018-06-22,141,78.70,40.820000,100.410004,15.800000,202.009995,114.839996,184.919998,36.290001
2018-06-22,141,5.56,40.820000,100.410004,15.800000,202.009995,114.839996,184.919998,36.290001
2018-06-23,142,5.56,40.820000,100.410004,15.800000,202.009995,114.839996,184.919998,36.290001
2018-06-24,143,5.56,40.820000,100.410004,15.800000,202.009995,114.839996,184.919998,36.290001
2018-06-25,144,5.56,39.180000,98.389999,15.110000,191.250000,109.809998,182.169998,32.880001
2018-06-26,145,5.56,39.470001,99.080002,15.500000,191.419998,112.209999,184.429993,36.029999
2018-06-27,146,5.56,38.389999,97.540001,14.970000,185.020004,111.459999,184.160004,31.219999
2018-06-28,147,5.56,38.930000,98.629997,15.310000,188.380005,118.639999,185.500000,31.950001
2018-06-29,148,5.56,38.950001,98.610001,14.990000,185.529999,118.760002,185.110001,32.299999
2018-06-30,149,5.56,38.950001,98.610001,14.990000,185.529999,118.760002,185.110001,32.299999
2018-07-01,150,5.56,38.950001,98.610001,14.990000,185.529999,118.760002,185.110001,32.299999
2018-07-02,151,5.56,38.790001,100.010002,15.160000,186.360001,115.910004,187.179993,32.799999
2018-07-03,152,5.56,38.380001,99.050003,15.000000,184.750000,115.940002,183.919998,32.980000
2018-07-04,153,5.56,38.380001,99.050003,15.000000,184.750000,115.940002,183.919998,32.980000
2018-07-05,154,5.56,38.540001,99.760002,15.500000,186.880005,117.820000,185.399994,31.190001
2018-07-06,155,185.56,39.459999,101.160004,16.360001,192.270004,121.739998,187.970001,29.920000
2018-07-06,155,5.02,39.459999,101.160004,16.360001,192.270004,121.739998,187.970001,29.920000
2018-07-07,156,5.02,39.459999,101.160004,16.360001,192.270004,121.739998,187.970001,29.920000
2018-07-08,157,5.02,39.459999,101.160004,16.360001,192.270004,121.739998,187.970001,29.920000
2018-07-09,158,5.02,39.400002,101.849998,16.610001,192.750000,121.120003,190.580002,31.820000
2018-07-10,159,5.02,38.590000,102.120003,16.549999,192.550003,120.699997,190.350006,31.170000

In [120]:
if '2018-07-06' in rh.wallet.Date.to_string():
    print('yes')
#    print(rh.wallet.loc[rh.wallet.Date.to_string() == '2018-07-06', 'Cash'])

yes

In [115]:
rh.wallet

         Date    Cash
0  2018-02-01    0.00
1  2018-02-01  550.00
2  2018-02-01  356.66
3  2018-02-01  188.98
4  2018-02-01   94.62
5  2018-02-01    0.50
6  2018-02-15    1.13
7  2018-02-16  551.13
8  2018-02-26   23.26
9  2018-03-08   24.10
10 2018-04-17    9.74
11 2018-05-16   13.44
12 2018-05-16    0.40
13 2018-05-17    1.13
14 2018-05-30    1.38
15 2018-06-14    2.22
16 2018-06-20  552.22
17 2018-06-20  300.22
18 2018-06-20  322.50
19 2018-06-20   58.86
20 2018-06-20    8.16
21 2018-06-20  236.08
22 2018-06-20    0.74
23 2018-06-20  220.74
24 2018-06-22  150.22
25 2018-06-22   78.70
26 2018-06-22    5.56
27 2018-07-06  185.56
28 2018-07-06    5.02